body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, hgroup ,a{
	margin: 0;
	padding: 0;
	border: 0;
	font-family:-apple-system,"Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica, Verdana,"Microsoft YaHei", "SimHei", "SimSun";

}
*{ -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; /* For some Androids */ }
a {
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -moz-touch-callout: none;
    -o-touch-callout: none;
    touch-callout: none;
}
img {
	/*max-width: 100%;*/
	display: inlien-block;
	/* border:0; */
	vertical-align:middle;
}
ul {
	list-style:none;
}
html, body {
	min-height: 100%;	
}
body {
	font-family: Verdana;
	-webkit-text-size-adjust: none;
	/*background-color:#efefef;*/
}
a {
	/*	*/
	text-decoration:none;
}
a:active, a:hover {
	outline: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.cb{clear:both;}

.fb40{font-size:0.4rem;color:#636271;}
.fb26{font-size:0.26rem;color:#636271;}
.fb24{font-size:0.26rem;color:#636271;}
.fb20{font-size:0.2rem;color:#9d9cac;}
.fr80{font-size:0.8rem;color:#ea3243;}
.fr40{font-size:0.4rem;color:#ea3243;}
.fr26{font-size:0.28rem;color:#ea3243;}

.head{width:6.4rem;position:fixed;z-index:100;}
.title2{position:relative;border-bottom:1px solid #e7e3e0;width:6.4rem;height:0.85rem;background-color:#fcfcfc;text-align:center;color:#ffffff;font-size:0.3rem;line-height:0.85rem;}
.title {width: 6.4rem;height: 0.9rem;background-color: #e34554;text-align: center;color: #ffffff;font-size: 0.3rem;line-height: 0.9rem;}
.logo img{width:1.4rem;height:0.45rem;display:inline-block;}
.sy{color:#61646d;font-size:0.3rem;}
.user-ico-o{position:absolute;left:0.3rem;top:0.15rem;display:none;}
.y-login .user-ico-o{display:block;}
.y-login .log-reg{display:none;}
.log-reg{position:absolute;left:0.3rem;font-size:0.26rem;}
.log-reg a{color:#b4b4b4;}
.lr-line1{vertical-align:middle;margin-bottom:0.03rem;display:inline-block;width:1px;height:0.26rem;background:#eeeeee;}
.user-ico{border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;overflow:hidden;width:0.6rem;height:0.6rem;display:block;}
.user-ico img{border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;width:0.6rem;height:0.6rem;vertical-align:baseline;}
.appdown-o{position:absolute;right:0.3rem;top:0.22rem;}
.appdown{display:block;width:1rem;height:0.5rem;background:url(../img/app-down-w.png) no-repeat;background-size:100% auto;}

/*资讯尾部*/
.mc-bottom{margin-top:0.1rem;margin-bottom:1.2rem;}
.app-web-pc{width:6.4rem;height:0.57rem;background:#FFFFFF;text-align:center;}
.app-web-pc a{width:2.133rem;color:#9D9CAC;font-size:0.26rem;float:left;line-height:0.57rem;}
.app-web-pc i{margin-right:0.05rem;}
.app i{width:0.35rem;height:0.35rem;display:inline-block;background:url(../img/app-ico.png) no-repeat;background-size:100% auto;vertical-align:middle;}
.web i{width:0.35rem;height:0.35rem;display:inline-block;background:url(../img/web-ico.png) no-repeat;background-size:100% auto;vertical-align:middle;}
.pc i{width:0.35rem;height:0.35rem;display:inline-block;background:url(../img/pc-ico.png) no-repeat;background-size:100% auto;vertical-align:middle;}
.mc-b-nav{text-align:center;font-size:0;}
.mc-b-nav1{font-size:0;text-align:center;margin-top:0.3rem;}
.mc-b-nav1 a{color:#9d9cac;font-size:0.24rem;height:0.24rem;border-right:1px solid #9d9cac;padding:0 0.2rem;}
.mc-b-nav1 a:last-child{border:0;}
.mc-b-nav1:after{content:'';width:5.8rem;height:1px;background:#9d9cac;margin:0.12rem auto;display:block;}
.mc-b-nav span{color:#9d9cac;font-size:0.24rem;}


.bottom{
 -webkit-box-shadow: 0.03rem 0.03rem 0.25rem #b4b4b4;   
 -moz-box-shadow:0.03rem 0.03rem 0.25rem #b4b4b4;   
 box-shadow: 0.03rem 0.03rem 0.25rem #b4b4b4;   
border-top:1px solid #eee;width:6.4rem;height:0.9rem;background:#FFFFFF;position:fixed;z-index:100;bottom:0;}


.b-i{width:1.6rem;height:0.9rem;float:left;text-align:center;}
.b-i span{font-size:0.18rem;color:#9d9cac;display:block;}
.on span{color:#e94e4e;}
.sy-ico{width:0.48rem;height:0.4rem;margin:0.1rem auto;display:block;background:url(../img/sy-ico.png) no-repeat;background-size:100% auto;}
.on .sy-ico{background:url(../img/syon-ico.png) no-repeat;background-size:100% auto;}
.lc-ico{width:0.4rem;height:0.41rem;margin:0.1rem auto;display:block;background:url(../img/lc-ico.png) no-repeat;background-size:100% auto;}
.on .lc-ico{background:url(../img/lcon-ico.png) no-repeat;background-size:100% auto;}
.zx-ico{width:0.4rem;height:0.41rem;margin:0.1rem auto;display:block;background:url(../img/zx-ico.png) no-repeat;background-size:100% auto;}
.on .zx-ico{background:url(../img/zxon-ico.png) no-repeat;background-size:100% auto;}
.mine-ico{width:0.4rem;height:0.41rem;margin:0.1rem auto;display:block;background:url(../img/mine-ico.png) no-repeat;background-size:100% auto;}
.on .mine-ico{background:url(../img/mineon-ico.png) no-repeat;background-size:100% auto;}
.title2 .title_left {
    position: absolute;
    right: 20px;
    color: #fff;
}
.title_left img{width:0.18rem;height:0.33rem;}
.title_left .close-icon{width:0.33rem;height:0.36rem;}
.point-m{display:inline-block;padding-left:0.08rem;padding-right:0.1rem;}
.mc-box{background-color:#efefef;}

.title2a{position:absolute;z-index:100;width:6.4rem;height:0.85rem;text-align:center;color:#ffffff;font-size:0.3rem;line-height:0.85rem;}
.title2a .title_left {position: absolute;right: 20px;color: #fff;}

.scroll-top{color:#6d6161;box-shadow: 0rem 0.15rem 0.8rem rgba(109,98,97,0.2);display:none;position:fixed;top:0;width:100%;height:0.85rem;z-index:105;font-size:0.3rem;text-align:center;line-height:0.85rem;}
.scroll-top .return-icon-w{background:url(../img/bk-c-return-g.png) no-repeat;background-size:100% auto;}
.scroll-top .appdown{background:url(../img/app-down.png) no-repeat;background-size:100% auto;}
.scroll-top .help-w{color:#61646D;}
.show-scroll-top .scroll-top{
	display:block;
	-webkit-animation-name: "bgw"; 
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
	background:#FFFFFF;
}

@-webkit-keyframes bgw{
		0% {
					opacity: 0;
					-webkit-transform: translateY(-1.46rem);
					background:#FFFFFF;
				}	
		100% {
			opacity:1;
			-webkit-transform: translateY(0rem);
			background:#FFFFFF;
		}
	}
.head-a{width:6.4rem;position:relative;z-index:100;}




















