.mc-box{width:6.4rem;margin:0 auto;position:relative;}
.mc-all{position:relative;/*top:1.54rem;*/}
.mc-bannero{width:6.4rem;height:3rem;overflow:hidden;position:relative;}
.mc-bannerall{overflow:hidden;position:absolute;left:0;}/*放屏幕宽度*图片数*/
.mc-banner{width:6.4rem;float: left;overflow: hidden;position: relative;}
.mc-banner a{display:block;}
.cp-b-p{position:absolute;left:0;top:2.29rem;text-align:center;width:6.4rem;font-size:0;}
.cp-b-pi{margin-right:0.18rem;display:inline-block;width:0.14rem;height:0.14rem;background:#FFFFFF;filter: alpha(opacity=50);-moz-opacity: 0.5;opacity: 0.5;border-radius:50%;}
.cp-b-pia{background:#FFFFFF;filter: alpha(opacity=100);-moz-opacity: 1;opacity: 1;border-radius:50%;}

.mc-bannero2 .cp-b-p{position:absolute;left:0;top:2.6rem;text-align:center;width:6.4rem;font-size:0;}

.download-app{font-size:0;width:6.4rem;height:0.7rem;background:url(../img/i-tpis-bg.png) no-repeat;background-size:100% auto;position:absolute;top:0.9rem;left:0;z-index:5000;}
.i-closebtn{width:0.35rem;height:0.35rem;background:url(../img/i-closebtn.png) no-repeat;display:block;background-size:100% auto;margin:0.17rem 0.3rem;}
.d-app-txt1{font-size:0.3rem;color:#FFFFFF;line-height:0.7rem;}
.d-a-btn{display:block;margin:0.08rem 0.3rem 0 0;font-size:0.26rem;width:1.8rem;height:0.5rem;background:#f96868;border:0.03rem solid #e24553;color:#FFFFFF;font-weight:bold;text-align:center;line-height:0.5rem;border-radius:0.3rem;}
.i-close1{display:none;}

.i-cpo{width:6.4rem;height:2.32rem;background:#FFFFFF;margin-top:0.1rem;}
.i-cpto{width:6.1rem;height:0.75rem;margin-left:0.3rem;border-bottom:0.03rem solid #EFEFEF;}
.i-cpt{width:5.8rem;height:0.75rem;font-size:0;}
.i-cpt i{width:1.21rem;height:0.39rem;display:inline-block;margin-top:0.15rem;margin-right:0.1rem;}
.i-ttb-ico{background:url(../img/i-hqlc-ico.png) no-repeat;background-size:100% auto;}
.i-cpt span{line-height:0.75rem;}

.i-cp-bao i{width:0.3rem;height:0.39rem;display:inline-block;background:url(../img/i-bao.png) no-repeat;background-size:100% auto;}

.i-cp-b1{font-size:0;position:absolute;bottom:0.3rem;left:0;}
.r-line{width:0.01rem;height:0.2rem;background:#9d9cac;display:inline-block;margin-left:0.15rem;margin-right:0.158rem;}
.i-cpbo{width:5.8rem;margin:0 auto;height:1.54rem;position:relative;}
.i-cp-b2{font-size:0;text-align:right;position:absolute;bottom:0.3rem;right:0;}
.i-cp-b2 .fb20,.i-cp-b3 .fb20{display:block;}
.i-cpo:active{background:#F6F6F6;}
.i-wzb-ico{background:url(../img/i-xylc-ico.png) no-repeat;background-size:100% auto;}
.i-ppb-ico{background:url(../img/i-dqlc-ico.png) no-repeat;background-size:100% auto;}
.i-cpo a{display:block;height:2.32rem;}
.i-cp-b3{font-size:0;text-align:right;position:absolute;bottom:0.3rem;right:0;}

.wap-mask{width:100%;height:0.7rem;position: fixed;_position: absolute;background-color: #1a1a1a;filter: alpha(opacity=0);-moz-opacity: 0;opacity: 0;z-index:8;top:0.9rem;}
.i-close1{display:none;}








