body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, hgroup ,a{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Verdana,"Microsoft YaHei", "SimHei", "SimSun";
}
*{ -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; /* For some Androids */ }
a {
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -moz-touch-callout: none;
    -o-touch-callout: none;
    touch-callout: none;
}
img {
	/*max-width: 100%;*/
	display: block;
	border:0;
	vertical-align:middle;
}
ul {
	list-style:none;
}
html, body {
	min-height: 100%;	
}
body {
	font-family: Verdana;
	-webkit-text-size-adjust: none;
	background-color:#efefef;
}
a {
	/*	*/
	text-decoration:none;
}
a:active, a:hover {
	outline: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.cb{clear:both;}


.mc-box{width:6.4rem;margin:0 auto;}
.nav{border-bottom:1px solid #F6F6F6;width:100%;height:0.64rem;line-height:0.61rem;position:fixed;top:0.9rem;font-size:0;z-index:100;background:#FFFFFF;}
.nav-o{overflow: hidden;overflow-x: scroll;-webkit-overflow-scrolling: touch;/*height:0.64rem;*/}
.nav-in{white-space: nowrap;margin-left:0.25rem;/*height:0.64rem;*/width:6.1rem;}
.navtxt{display:inline-block;line-height:0.61rem;white-space: nowrap;color:#9d9cac;font-size:0.24rem;margin-right:0.4rem;padding:0 0.06rem;/*border-bottom:0.03rem solid #FFFFFF;*/}
.nav-in .navtxta{color:#e34554;border-bottom:0.03rem solid #E34554;}
.nav-o::-webkit-scrollbar {
  display: none;
 
}
.nav-o::-webkit-scrollbar-thumb {
		  background:red; 

	} 


.mc-all{position:relative;/*top:1.54rem;*/}
.mc-bannero{width:6.4rem;height:3rem;overflow:hidden;position:relative;}
.mc-bannerall{overflow:hidden;position:absolute;left:0;}/*放屏幕宽度*图片数*/
.mc-banner{width:6.4rem;float: left;overflow: hidden;position: relative;}
.mc-banner a{display:block;}
.cp-b-p{position:absolute;left:0;top:2.29rem;text-align:center;width:6.4rem;font-size:0;}
.cp-b-pi{margin-right:0.18rem;display:inline-block;width:0.14rem;height:0.14rem;background:#FFFFFF;filter: alpha(opacity=50);-moz-opacity: 0.5;opacity: 0.5;border-radius:50%;}
.cp-b-pia{background:#FFFFFF;filter: alpha(opacity=100);-moz-opacity: 1;opacity: 1;border-radius:50%;}


.mc-b-txto{width:6.4rem;font-size:0.24rem;color:#FFFFFF;position:absolute;top:2.46rem;text-align:center;}
.mc-b-txt{width:16em;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;}
.mc-b-txt:before{content:'';width:0.32rem;height:0.24rem;background-size:100% auto;background-image:url(../img/pic-ico.png);display:inline-block;}



.mc-zxo{padding-top:0.1rem;}
.mc-zxi{width:6.4rem;background:#FFFFFF;}
.mc-zxnto{width:6.4rem;height:0.89rem;}
.mc-zxnti{width:6.1rem;margin-left:0.3rem;}
.mc-zxmore{width:6.1rem;height:0.89rem;display:block;font-size:0;line-height:0.89rem;}
.mtbd{height:0.42rem;line-height:0.42rem;padding:0 0.1rem;border-radius:0.08rem;background:#fb7677;display:inline-block;text-align:center;color:#FFFFFF;font-size:0.26rem;margin-top:0.25rem;}
.tzlc{height:0.42rem;line-height:0.42rem;padding:0 0.1rem;border-radius:0.08rem;background:#f7ca55;display:inline-block;text-align:center;color:#FFFFFF;font-size:0.26rem;margin-top:0.25rem;}
.hyzx{height:0.42rem;line-height:0.42rem;padding:0 0.1rem;border-radius:0.08rem;background:#7ab5ed;display:inline-block;text-align:center;color:#FFFFFF;font-size:0.26rem;margin-top:0.25rem;}
.pjbk{height:0.42rem;line-height:0.42rem;padding:0 0.1rem;border-radius:0.08rem;background:#7cc79a;display:inline-block;text-align:center;color:#FFFFFF;font-size:0.26rem;margin-top:0.25rem;}
.pjshow{min-width:1.05rem;height:0.42rem;line-height:0.42rem;padding:0 0.1rem;border-radius:0.08rem;background:#a99de7;display:inline-block;text-align:center;color:#FFFFFF;font-size:0.26rem;margin-top:0.25rem;}

.mc-zxnto:active{background-color:#f6f6f6;}
.more{font-size:0.26rem;color:#9d9cac;margin-right:0.3rem;}
.more:after,.a-arrow:after{content:">";color:#9d9cac;font-size:0.3rem;display:inline-block;float:right;}
.a-arrow{margin-right:0.3rem;}

.mc-zxnewsw{width:6.4rem;height:0.89rem;background:#FFFFFF;}
.mc-zxnewsw:active{background-color:#f6f6f6;}
.mc-zxnews{width:6.1rem;height:0.89rem;line-height:0.89rem;margin-left:0.3rem;border-top:1px solid #efefef;}
.fb26{font-size:0.26rem;color:#636271;}
.fb24{font-size:0.26rem;color:#636271;}
.fb20{font-size:0.2rem;color:#9d9cac;}
.news-t{display:block;width:15em;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

/*媒体*/
.mc-sbanner{width:6.4rem;height:0.86rem;}
.mc-sbanner a{display:block;}
.mc-newsio{width:6.4rem;background:#FFFFFF;margin-top:0.1rem;}
.mc-newsio:active{background:#F6F6F6;}
.mc-newsi{display:block;width:5.8rem;margin:0 auto;}
.mc-newsit{width:6.1rem;height:1.69rem;border-bottom:1px solid #efefef;}
.mc-newsib{width:6.1rem;height:0.55rem;font-size:0;line-height:0.55rem;}
.mc-newsiti{vertical-align:middle;display:inline-block;margin-top:0.25rem;}
.mc-nt-txt{line-height:0.4rem;width:15em;/*height:1.2rem;*/overflow:hidden;text-overflow:ellipsis;-webkit-box-orient: vertical;display:-webkit-box;display:box;-webkit-line-clamp: 3;/*text-align:justify; text-justify:inter-ideograph;*/}
.mc-newspic{display:inline-block;vertical-align:middle;margin-right:0.3rem;}
.mc-newspic img{width:1.4rem;height:1.2rem;margin-top:0.25rem;}
.mtbd-s{display:inline-block;border-radius:0.08rem;background:#FB7677;text-align:center;height:0.25rem;line-height:0.25rem;color:#FFFFFF;font-size:0.18rem;padding:0 0.08rem;}
.news-date{color:#9d9cac;font-size:0.2rem;padding-left:0.15rem;}
.login-more{display:block;width:6.2rem;height:0.55rem;background:#FFFFFF;margin:0.1rem auto 0 auto; text-align:center;line-height:0.55rem;color:#636271;font-size:0.26rem;}
.login-more:active{background:#F6F6F6;}


/*.nopic-news img{display:none;}*/
.nopic-news .mc-nt-txt{width:5.8rem;}

.hot-read{width:6.4rem;margin:0.1rem auto 0 auto;}
.h-r-title{width:6.4rem;height:0.72rem;background:#FFFFFF;line-height:0.72rem;font-size:0;}
.h-r-ico{margin-left:0.3rem;width:0.33rem;height:0.36rem;display:inline-block;background:url(../img/hot-ico.png) no-repeat;background-size:100% auto;vertical-align:middle;}
.h-t-rtxt{vertical-align:middle;margin-left:0.1rem;}
.h-t-newso{width:6.4rem;height:1.16rem;background:#FFFFFF;}
.h-t-news{width:6.1rem;height:1.16rem;margin-left:0.3rem;border-top:1px solid #F6F6F6;font-size:0;position:relative;}
.h-t-newsi{width:6.1rem;display:inline-block;vertical-align:middle;}
.h-t-ntxt{width:21em;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:block;position:absolute;top:0.2rem;}
.h-t-ntxto:after{content:"";width:0.2rem;height:0.3rem;display:inline-block;background-image:url(../img/arrow2.png);background-size:100% auto;position:absolute;right:0.3rem;top:0.23rem;}
.news-date2{color:#9d9cac;font-size:0.2rem;display:block;position:absolute;bottom:0.2rem;}
.h-t-newso:active{background:#F6F6F6;}

/*资讯*/
.zx-s{display:inline-block;border-radius:0.08rem;background:#7AB5ED;text-align:center;height:0.25rem;line-height:0.25rem;color:#FFFFFF;font-size:0.18rem;padding:0 0.08rem;}

/*百科*/
.bk-s{display:inline-block;border-radius:0.08rem;background:#7CC79A;text-align:center;height:0.25rem;line-height:0.25rem;color:#FFFFFF;font-size:0.18rem;padding:0 0.08rem;}

/*PJ秀*/
.pj-s{display:inline-block;border-radius:0.08rem;background:#A99DE7;text-align:center;height:0.25rem;line-height:0.25rem;color:#FFFFFF;font-size:0.18rem;padding:0 0.08rem;}

/*理财*/
.licai-s{display:inline-block;border-radius:0.08rem;background:#F7CA55;text-align:center;height:0.25rem;line-height:0.25rem;color:#FFFFFF;font-size:0.18rem;padding:0 0.08rem;}

/*理财1*/
.nav2{border-bottom:1px solid #F6F6F6;width:100%;height:0.64rem;line-height:0.61rem;position:fixed;top:1.55rem;font-size:0;z-index:100;background:#f6f6f6;}
.nav-in .navtxta2{color:#9d9cac;border-bottom:0.03rem solid #9d9cac;}
.navtxt2{display:inline-block;line-height:0.61rem;white-space: nowrap;color:#bebec8;font-size:0.24rem;margin-right:0.4rem;padding:0 0.06rem;/*border-bottom:0.03rem solid #FFFFFF;*/}

/*详情页*/
.xg-r-ico{margin-left:0.3rem;width:0.38rem;height:0.32rem;display:inline-block;background:url(../img/read-ico.png) no-repeat;background-size:100% auto;vertical-align:middle;}
.article{width:6.4rem;margin:0.1rem auto 0 auto;background:#FFFFFF;}
.art-to{width:6.4rem;border-bottom:1px solid #EFEFEF;background:#FFFFFF;font-size:0;margin-bottom:0.3rem;}
.art-t{width:5.8rem;margin:0 auto;padding-top:0.4rem;}
.art-txt{display:block;text-align:justify; text-justify:inter-ideograph;}
.art-tips{height:0.8rem;line-height:0.8rem;}
.art-tips span{display:block;}
.art-conten{width:5.8rem;margin:0 auto;font-size:0;padding-bottom:0.3rem;}
.art-conten img{width:5.8rem;height:auto;padding-bottom:0.3rem;}
.art-c-txt{display:block;font-size:0.26rem;color:#636271;text-align:justify; text-justify:inter-ideograph;line-height:0.46rem;}
.return-ico{background-image:url(../img/return-ico.png);background-size:100% auto;width:0.25rem;height:0.34rem;display:block;position:absolute;left:0.3rem;top:0.28rem}














